.home {
  text-align: center;
}

form {
  width: 100%;
  height: 100%;
  padding: 20px;
}

form label {
  color: red;
  font-size: 30px;
  font-weight: 800;
}

form input {
  margin-bottom: 15px;
  width: 50%;
}
form input {
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px lightgray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #2e3d49;
  background: #fff9;
  font-weight: 600;
}

table{
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
  font-size: large;
  margin-left: 10%;
}

th, td{
  text-align: left;
  padding: 16px;
  border: 2px solid black;
}